{% extends _extend_home %}

{% block title %}Главная - {{ parent() }}{% endblock %}

{% block content_left %}

  {% block shop_catalog %} Нет товаров {% endblock %}

  <div class="content wrap-left-right">

    <hr />

    <p class="grey-text">
      Интернет магазин бытовой химии в Украине Sanoshop предлагает вашему внимаю огромный выбор
      продукции ведущих лидеров мирового производства бытовой химии.
      Бренды Sano, Careline, Shuki Zikri, Keff, Crema, Natural и Orbitol давно заработали заслуженные
      почетные места на олимпе производителей бытовой химии и способны удовлетворить потребности
      самых изысканных покупателей. Уровень качества их продукции, биологической и экологической
      безвредности, надежности и инновационности заслуженно является примером для подражания в мире
      бытовой химии. Интернет-магазин Sanoshop является официальным представителем компании Sano в
      Украине, лидера израильского производства в отрасли бытовая химия. Интернет магазин Sanoshop с
      гордостью представляет вашему вниманию товары бренда Sano. Бренды Careline и Keff благодаря
      4конкуренции между собой в области производства косметических изделий изобретают и производят
      косметику наивысшего мирового стандарта и мы рады представить их на прилавках нашего магазина.
    </p>
  </div>

{% endblock %}