{% extends "page.html" %}

{% block title %}{{ parent() }} - Контакты{% endblock %}

{% block page_title %}Контакты{% endblock %}

{% block page_left_btn %}
{{ forms.action_button("rt-page-btn", "/faq.html", "grey-arrow-button arrow-to-left", "FAQ")}}
{% endblock %}

{% block page_text %}

  <p>
    «<b>Videolead.ru</b>» - первый и единственный полноценный автоматизированный инструмент для
    продвижения рекламных видео в Рунете. Мы предлагаем быстрый и легкий способ размещения
    рекламных видео на более чем 500 популярных площадок
    Рунета с суммарной посещаемостью 12 000 000 посетителей в сутки.
  </p>

  <ul>
    <li>Моментальный запуск рекламной кампании</li>
    <li>Размещение в плеере YouTube</li>
    <li>Статистика в реальном времени</li>
    <li>Только настоящие просмотры</li>
    <li>Таргетинг по площадкам</li>
    <li>Оплата любым удобным способом</li>
    <li>Полное документальное сопровождение</li>
  </ul>

  <p>
    Рынок мобильных приложений растёт и ширится с каждым днём.
    Всё большее количество людей приобретают гаджеты под управлением мобильной ОС Android и,
    следовательно, они заинтересованы в качественных приложениях.
    Так что Google Play – это воистину золотая жила для небольших творческих групп,
    ведь самые популярные приложения имеют десятки, сотни миллионов загрузок,
    а если учесть, что многие из них стоят денег… Да, написать хорошее Android приложение
    трудно, но ещё труднее сделать его популярным, сделать так, чтобы потенциальный пользователь
    узнал о нём. Так почему бы не доверить это дело профессионалам?
  </p>

  <p>
    AppTools – это сервис профессиональной раскрутки Android приложений.
    Наша модель проста: Вы указываете, какое приложение нужно сделать популярным,
    а мы воплощаем Ваши желания в реальность. Мы, команда AppTools, знаем своё дело
    и поможем Вам рассказать о своём приложении всему миру.
  </p>

  <p>
    AppTools – это ещё и сервис, который поможет Вам заработать. Если у Вас есть телефон
    под управлением ОС Android, если Вы хотите каждый день пробовать новые приложения,
    а заодно и заработать денег, то вы пришли по адресу. Зарегистрируйтесь на нашем сайте,
    установите специальное приложение и приобщитесь к мейнстриму мобильных технологий,
    зарабатывая при этом неплохие деньги!
  </p>

{% endblock %}