{% extends "page.html" %}

{% block title %}{{ parent() }} - Заказчику{% endblock %}

{% block page_title %}Заказчику{% endblock %}

{% block page_left_btn %}
  {{ forms.action_button(false, "/", "grey-arrow-button arrow-to-left", "На главную")}}
{% endblock %}

{% block page_right_btn %}
  {{ forms.action_button(false, "/for_executor.html", "grey-arrow-button arrow-to-right", "Исполнителю")}}
{% endblock %}

{% block page_text %}

<p>
Интернет — одна из самых эффективных рекламных площадок сегодня.
Каждый день в Интернет выходит 39 700 000 россиян старше 18 лет.
Из них больше половины проводит своё время в социальных сетях, например, vk.com,
являющаяся одной из самых популярных русскоязычных социальных сетей.
</p>

<p>
Сделать хорошее видео очень сложно, но ещё сложнее сделать его популярным,
да так, чтобы потенциальный пользователь узнал об информации в видео,
которую хотят до него донести (это может быть презентация нового
ультрасовременного и навороченного планшета или же просто выступление
малоизвестной музыкальной группы… Это может быть что угодно).
Так почему бы не доверить это дело профессионалам?
</p>

<p>
«<b>Videolead.ru</b>» - полноценный автоматизированный инструмент для продвижения видео
в Рунете. Мы предлагаем быстрый и легкий способ размещения рекламных видео на
более чем 500 популярных площадок Рунета с суммарной посещаемостью 12 000 000
посетителей в сутки.
</p>

<p>
Вы указываете, какое видео нужно сделать популярным (а популярность его растёт с числом
роста просмотров), а мы воплощаем Ваше желание в реальность.
</p>

Почему именно Videolead?<br /><br />

<ul>
  <li>Во-первых, мы не накручиваем статистику. Размещения происходят в реальном времени на самых разнообразных площадках с разной аудиторией.</li>
  <li>Во-вторых, работая с нами, Вы получаете бонус в виде «беспланого распространения». Например, на какой-то крупной площадке было размещено видео и какому-то Васе оно понравилось. Вася разместил видео у себя на страничке. К нему зашел его друг Петя, Леша, Ваня… Кому-то из них понравилось и всё пошло по схеме, описанной выше. То есть вирусный эффект. Если видео достаточно интересное и нравится людям, то просмотров может прийти в разы больше. Быть может, Ваш ролик станет всемирно известным.</li>
  <li>В-третьих, к каждому клиенту у нас индивидуальный подход и хорошие скидки с бонусами.</li>
  <li>В-четвертых, на Videolead самые низкие цены на реальные просмотры в Рунете.</li>
  <li>В-пятых, мы работаем только с площадками с высокой посещаемостью.</li>
  <li>В-седьмых, Вы можете задавать критерии по полу и возрасту.</li>
</ul>

У Вас есть вопросы, которые требуют немедленного ответа? Тогда ПИШИТЕ НАМ. Мы обязательно в кратчайшие сроки дадим ответ.

{% endblock %}