{% extends "page.html" %}

{% block title %}{{ parent() }} - Исполнитель{% endblock %}

{% block page_title %}Исполнитель{% endblock %}

{% block page_left_btn %}
  {{ forms.action_button("lt-page-btn", "/for_customer.html", "grey-arrow-button arrow-to-left", "Заказчику")}}
{% endblock %}

{% block page_right_btn %}
  {{ forms.action_button("rt-page-btn", "/about.html", "grey-arrow-button arrow-to-right", "О проекте")}}
{% endblock %}

{% block page_text %}

<p>
«<b>Videolead.ru</b>» – это сервис, который поможет Вам заработать. Если Вы владелец
крупного сайта с высокой посещаемостью или крупной группы «Вконтакте» с
большой аудиторией, то вы пришли по адресу. Зарегистрируйтесь
(В СЛОВЕ ДАЕМ ССЫЛКУ НА РЕГИСТРАЦИЮ) на нашем сайте, добавьте свои площадки и
зарабатывайте, размещая на них видео. Притом, чем больше посещаемость Вашей площадки,
тем больше Вы сможете заработать.
</p>

<p>
Почему же именно Videolead?
</p>

<ul>
  <li>Во-первых, мы работаем только с крупными клиентами, поэтому добавлять крупные площадки очень выгодно.</li>
  <li>Во-вторых, Вы можете удалить опубликованное видео в любое время.</li>
  <li>В-третьих, у нас быстро обновляется статистика просмотров. Вы получаете деньги за каждый просмотр в автоматическом режиме.</li>
</ul>

У Вас есть вопросы по сотрудничеству или по добавлению площадок? НАПИШИТЕ НАМ, мы обязательно постараемся Вам помочь.

{% endblock %}