{% extends "page.html" %}

{% block title %}{{ parent() }} - FAQ{% endblock %}

{% block page_title %}FAQ{% endblock %}

{% block page_left_btn %}
  {{ forms.action_button("lt-page-btn", "/about.html", "grey-arrow-button arrow-to-left", "О проекте")}}
{% endblock %}

{% block page_right_btn %}
  {{ forms.action_button("rt-page-btn", "/contact.html", "grey-arrow-button arrow-to-right", "Контакты")}}
{% endblock %}

{% block page_text %}

<p>
  На этой страничке мы попытаемся ответить на самые часто задаваемые вопросы.
</p>

<p>
 <b class="bold">В.</b> – вопрос<br/>
 <b class="font-black bold">О.</b> – ответ
</p>

<p>
 <b class="bold">В.</b> Какой минимальный / максимальный объём Вы можете выполнить? <br />
 <b class="font-black bold">О.</b> Минимальный объём заказа составляем 10000 просмотров. Максимальный не ограничен.
</p>

<p>
 <b class="bold">В.</b> С какими площадками Вы работаете? <br />
 <b class="font-black bold">О.</b> Мы работаем с площадками с посещаемостью не менее 1000 человек в сутки.
</p>

<p>
 <b class="bold">В.</b> С какими платежными системами Вы работаете?<br />
 <b class="font-black bold">О.</b> На данный момент только с системой Webmoney.ru. В дальнейшем будут вводиться и новые способы оплаты. Если у Вас возникают трудности с пополнением счёта или невозможностью его пополнения, пожалуйста, НАПИШИТЕ НАМ, мы постараемся помочь.
</p>

<p>
 <b class="bold">В.</b>  Какие сроки выполнения заказа?<br />
 <b class="font-black bold">О.</b>  Сроки сугубо индивидуальные и вплотную зависят от видеоролика и его содержания, заданных Вами критериев и требуемого количества просмотров. В среднем сроки колеблются от нескольких часов до недели.
</p>

<p>
 <b class="bold">В.</b>  В системе уже выполнен заказ, а на видео просмотров нет. В чём дело?<br />
 <b class="font-black bold">О.</b>  На видеохостингах просмотры засчитываются не сразу, а через определенное время, которое может доходить до 24 часов, в зависимости от конкретного видеохостинга.
</p>

<p>
 <b class="bold">В.</b>  С какими видеохостингами Вы работете?<br />
 <b class="font-black bold">О.</b>  Мы работаем с любыми видеохостингами, где есть счётчик просмотров.
</p>

{% endblock %}