
{% include "cart.html" %}

<div id="campaigns" class="box">

  <h4>Акции магазина:</h4>

  <p>
    <a href="/">Путевка на двоих в Карпаты Премиум!</a>
    В вашей корзине пусто.<br />
    Самое время что-то купить
  </p>

  <p>
    <a href="/">Путевка на двоих в Карпаты Премиум!</a>
    В вашей корзине пусто.<br />
    Самое время что-то купить
  </p>

  <p>
    <a href="/">Путевка на двоих в Карпаты Премиум!</a>
    В вашей корзине пусто.<br />
    Самое время что-то купить
  </p>

  <p>
    <a href="/">Путевка на двоих в Карпаты Премиум!</a>
    В вашей корзине пусто.<br />
    Самое время что-то купить
  </p>

  <a href="/">Показать все акции</a>
</div>